@charset "UTF-8";

/*hero video section*/
.hero {
	position: relative;
	height: 30vh;
	margin-top: 2rem;
}

.bg-video {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1;
	border-radius: 12px;
}

.bg-video__content {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.hero__text-box {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.heading-tertiary1 {
	font-weight: 500;
	font-size: 2rem;
	color: #fff;
	padding-right: 1rem;
}
/*END hero video*/



