@charset "UTF-8";
/**
 *
 * @authors a rogala
 * @date    4/27/18
 * @version 1.0
 */
 /*default display larger images*/
.header__logo--2 {
	display: none;
}

/*mobile and tablet size*/
@media screen and (max-width: 800px) {

	/*display and position the nav button*/
	.nav {
		position: relative;
		height: 5rem;
	}
	.nav__checkbox {
		position: absolute;
		top: 1rem;
		right: 1rem;

	}
	.nav__button {
		display: block;
	}

	.nav__button:hover {
		cursor: pointer;
	}

	/*hide/transform the list*/

	.nav__list {
		z-index: 10;
		position: fixed;
		display: list-item;
		width: 100%;
		height: 100vh;
		background-color: rgba(1,179,228,1);
        background: linear-gradient(90deg, rgba(147,184,236,1) 0%, rgba(1,179,228,1) 50%, rgba(147,184,236,1) 100%);

		/* This trasform moves the list off canvas. */
	    -webkit-transform: translate(-100%, 0);
	    transform: translate(-100%, 0);
	    /* animate the list*/
	    transition: transform 0.3s ease;
	}

	/*when checkbox checked unhide/translate list*/
	.nav__checkbox:checked ~ .nav__list {
		-webkit-transform: translate(0, 0);
    	transform: translate(0, 0);
	}

	.nav__item-1 {
		margin: 5rem auto 0 auto;
		width: 45%;
	}

	.nav__item-2 {
		width: 45%;
	}

	.nav__item-3 {
		width: 45%;
	}

	.nav__item-4 {
		width: 45%;
	}

	/*header mobile*/
	/*adjust header logo size*/
	.header__logo {
		width: 20%;
	}
	/*switch images on smaller screens*/

	.header__logo--1 {
		display: none;
	}

	.header__logo--2 {
		display: inline-block;
	}


}

/*minor break point for fonts*/

@media screen and (max-width: 650px) {
	.header__title {
		font-size: 3rem;
	}

	.header__tagline {
		font-size: 2rem;
	}
}

/*minor adjustment icon*/
@media screen and (max-width: 450px) {
	/*adjust header logo size*/
	.header__logo {
		width: 30%;
	}
}
